<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%=image_tag "lewagon.png"%>
    <!-- <img src="<%= image_path "lewagon.png"%>"" alt="logo"> -->
  </a>

  <% if user_signed_in? %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs ">
      <%= link_to "All products", products_path,class: "navbar-wagon-item navbar-wagon-link"%>
      <%= link_to "Add product", new_product_path,class: "navbar-wagon-item navbar-wagon-button"%>

      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="<%=image_path "auguste.jpg"%>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Host</a></li>
          <li><a href="#">Trips</a></li>
          <li><a href="#">Messagese</a></li>
        </ul>
      </div>
    </div>

  <% else %>
    <div class="navbar-wagon-right">
      <%= link_to "Connexion", new_user_session_path,class: "navbar-wagon-item navbar-wagon-link"%>
      <%= link_to "Inscription",new_user_registration_path,class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  <% end %>
</div>
